<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /technologia/CI3/

    # If the requested file or directory exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, redirect all requests to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

